{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    {% include '_header_user.html.twig' %}
    {% include '_sidebar_user.html.twig' %}

    <div class="conteneur">

        <div class="panel panel-info">
            <div class="panel-body">
                {% for message in messages %}
                    {% set sender = message.sender %}
                    {% if sender == app.user %}
                        {% set sender = 'Moi' %}
                    {% else %}
                        {% set sender = sender.fullName %}
                    {% endif %}
                    <ul class="list-group" style="margin-bottom: 10px;">
                        <div>
                            <small style="color: lightgrey">Envoyé
                                le {{ message.createdAt|date('d/m/Y à H:i') }}</small>
                        </div>
                        <b>{{ sender }}:</b> {{ message.message }}
                    </ul>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Envoyer</button>
                {{ form_end(form) }}
            </div>

        </div>

    </div>
{% endblock %}